<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="interval" value="1500"/>

    <add key="com" value="COM3"/>

    <add key="in_tray" value="false"/>
    <add key="balloon" value="true"/>
    <add key="balloon_time" value="3000"/>
  </appSettings>
</configuration>
